body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.light {
  background-color: #f8f9fa;
  color: #212529;
}

.dark {
  background-color: #343a40;
  color: #f8f9fa;
}

.main-header{
  color: white;
}
.main-header .nav-link a{
  color: white;
  text-decoration: none;
}